* {
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;


}

.font-100px {
    font-size: 50px;
    color: rgb(9, 9, 9);
    border: 2px solid black;
    width: 20%;
    margin: 2% auto;
    background-image: linear-gradient(to right, red, yellow);


}


html,
body {
    height: 100%;
    width: 100%;
}


.button {
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    background: #313131;
    color: white;
    font-weight: bold;
}

.btn {
    width: 107px;
}

.dot {

    padding: 20px 22px;

}

.bg-grey {
    background: gray;
    color: black;
}

.bg-org {

    background: orange;
    color: white;


}

.row {
    margin: 8px 0;
}

.row input {
    font-size: 23px;
    margin: 0;
    padding: 10px 3px;
    border: 2px solid black;
    border-radius: 5px;
}